body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Literata", serif;
}

.navbar {
  height: 9vh;
  background-color: #333;
  color: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.sticky {
  position: sticky;
  top: 0;
  opacity: 0.5;
}
.navbar-home {
  transition: all 0.2s ease-in-out;
}
.reference {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}
a:hover {
  transform: scale(1.2);
}
.navbar-bars-icon,
.navbar-close-icon {
  display: none;
}

.cursive-text {
  font-weight: 100;
}

.header {
  height: 50vh;
  background-image: url("../assets/images/ales-nesetril-unsplash-background.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 80px 0 100px 0;
}

.header-h1 {
  font-size: 3.25rem;
}
.header-h3 {
  font-weight: medium;
}

#doctor {
  font-weight: lighter;
  text-decoration: dotted;
}
#coder {
  font-weight: bolder;
  color: #c90021;
}

.contents {
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 90px;
  text-align: center;
}

.card {
  position: relative;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: all 2s ease;
}

.card p {
  margin-top: 0;
}

.card .subtext {
  font-size: small;
}

.tooltip {
  display: none;
  position: absolute;
  top: -30px;
  border: 1px solid #333;
  background-color: #666;
  min-width: max-content;
  padding: 5px 10px;
  color: whitesmoke;
  font-size: 0.85rem;
  transform: translateX(1rem);
  opacity: 0.8;
}
.card:hover .tooltip {
  display: block;
}

.content {
  margin: 120px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 0.5px solid #111;
  border-radius: 5px;
  padding: 15px 30px;
  transition: transform 1s, opacity 2s;
}
.hidden {
  opacity: 0;
  transform: translateY(2rem);
}

#experience {
  background-image: url("../assets/images/leone-venter-unsplash.jpg"),
    linear-gradient(to right, #f1f1f1, #e6e9ea, #e6e7e8);
  background-size: contain;
  background-repeat: no-repeat;
}

/* set opacity to background image */
#education {
  position: relative;
}
#education::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../assets/images/pexels-jane-doan-1024248.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1; /* Adjust the opacity of the background image */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.no-margin {
  margin: 5px 0;
}
.no-bottom-margin {
  margin-bottom: 2.5px;
}
.no-upper-margin {
  margin-top: 2.5px;
}
.bottom-margin {
  margin-bottom: 5px;
}
.upper-margin {
  margin-top: 50px;
}

.section-title {
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  color: #350f0d;
}
.section-subtitle {
  color: #350f0d;
}

section h5 {
  text-decoration: underline dashed;
}

ul,
li {
  font-weight: 100;
  font-size: 0.9rem;
}

.subtitle-2 {
  margin: 10px 0;
  font-weight: light;
  color: #350f0d;
}

.feature-description {
  font-weight: 400;
  color: #350f0d;
  text-decoration: underline dotted;
}

b {
  color: #350f0d;
}

section a,
section a:hover,
section a:focus,
section a:visited,
section a:active {
  color: #000;
  text-decoration: none;
}

section a:hover {
  cursor: pointer;
  color: #b2963d;
}

.display-on-click {
  display: none;
}
.show-medical {
  border: none;
  border-radius: 5px;
  outline: none;
  height: 40px;
  padding: 5px 15px;
  margin: 15px;
  background-color: #b2963d;
  color: white;
  letter-spacing: 1px;
  font-size: 0.85rem;
  transition: all 0.3s ease-in-out;
}
.show-medical:hover {
  background-color: #6a5a24;
  transform: scale(1.1);
}

#contact-me {
  height: 97vh;
  justify-content: space-between;
  align-items: center;
  background-image: url("../assets/images/ales-nesetril-unsplash-background.jpg");
  background-size: cover;
  color: #fff;
}
.contact-header {
  text-align: center;
  margin: 50px auto;
}
.social-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* S K I L L S */
@media (max-width: 600px) {
  #skills {
    display: none;
  }
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr) 0.5fr;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  gap: 10px;
  width: 100%;
  height: 95vh;
  margin-top: 0;
  background-color: black;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  background-color: #c90021;
  grid-column: 1 / span 2;
}

.two {
  background-color: white;
  grid-column: 3;
}

.three {
  background-color: white;
  grid-column: 4;
}

.four {
  background-color: white;
  grid-column: 5;
}

.five,
.six,
.eight {
  background-color: white;
  grid-column: span 2;
}

.seven {
  background-color: white;
  grid-row: span 2;
}

.nine {
  background-color: #00a7c9;
  grid-column: span 2;
  grid-row: span 2;
}

.ten {
  background-color: black;
  grid-column: span 2;
}

.eleven {
  background-color: #ffd95b;
  grid-row: span 2;
}

.twelve,
.thirteen {
  background-color: #ffd95b;
  grid-row: span 2;
}

.fourteen {
  background-color: #c90021;
  grid-column: span 2;
  grid-row: span 2;
}

.fifteen {
  background-color: white;
}
